<div class="content">

	<div class="info">
		<div class="group">
			<p>Id: {{polygon.agroApiId}}</p>
			<!-- <p>Id: dfasdfsafsadfa</p> -->
		</div>
		<div class="group">
			<p>Name: {{polygon.name}}</p>
			<!-- <p>Name: La Panchita</p> -->
		</div>
		<div class="group">
			<p>Area: {{polygon.area}} ha</p>
			<!-- <p>Area: 25.665 ha</p> -->
		</div>
	</div>

	<div class="options">
		<button (click)="selectPolygon()">Seleccionar</button>
		<button (click)="fetchPolygonInfo()">Fetch info</button>
	</div>
</div>

<div class="line"></div>
