/* You can add global styles to this file, and also import other style files */

@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
